$topmenu-height: 60px; // 主菜单高度
$sidebar-width: 210px; // 侧栏菜单宽度

$zindex-topmenu: 1000;
$zindex-sidebar: 1001;

$color-primary: #ccc;
$color-secondary: #ccc;
$color-warning: #ccc;
$color-danger: #ccc;
