@import "!~normalize.css/normalize.css";
@import "shop_variables";
@import "~we-vue/lib/we-vue-css/base.css";
@import "../iconfont/iconfont.css";

body {
  background-color: #ececec;
}

.weui-tabbar {
  font-weight: bold;
}

.weui-cell__bd {
  p {
    color: #777;
    font-weight: 200;
  }
}
