@import '!~normalize.css/normalize.css';
@import './admin_mixins.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

$topmenuHeight: 60px;  // 主菜单高度
$sidebarWidth: 220px;  // 侧栏菜单宽度

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#topmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#sidebar {
  display: block;
  position: fixed;
  top: $topmenuHeight;
  bottom: 0;
  background-color: #324057;
  width: 220px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  display: block;
  overflow: hidden;
  margin-top: $topmenuHeight;
}

.main-with-padding {
  padding: 20px;
}

.right-main {
  display: block;
  position: fixed;
  padding: 20px;
  left: $sidebarWidth;
  right: 0;
  top: $topmenuHeight;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: auto;
}

.paginator {
  display: block;
  margin: 1rem 0;
  float: right;
}

.my-loading-mask {
  background-color: rgba(0, 0, 0, 0.1);
}
